* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h2 {
    color: rgb(0, 0, 0);
}

/* INICIO NAV */

/* FIM NAV */


/* INICIO CONTEUDO */

/* INICIO CONTEUDO */


/* INICIO FOOTER */

/* FIM FOOTER */



/* INICIO RESPONSIVIDADE */

/* INICIO RESPONSIVIDADE */