* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.div-top {
    background-color: 181818;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sessao-puclica {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 180px;
}

.titulo-h1 {
    font-size: 20px;
    font-width: bold;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 210px;
    margin-right: 28px;
    color: #787878;
}

.separator {
    width: 80%;
    height: 3px;
    margin: 50px auto;
    border: none;
    background: linear-gradient(45deg,
        #009739 33.33%,
        #c60c30 33.33%, #c60c30 66.66%,
        #ffcc29 66.66%
    );
}

/* INICIO NAV PUBLICA */
.div-top-publica {
    background-color: 181818;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-top-publica titulo-h1 {
    font-size: 20px;
    font-width: bold;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 210px;
    margin-right: 28px;
    color: #787878;
}

.div-contato-publica {
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;
    margin-right: 40px;
    gap: 20px;
}

.custon-icon-contato {
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.custon-icon-contato:hover {
    transform: scale(1.2);
}

.conteirner-nav-publica {
    background: linear-gradient(45deg,
        #009739 33.33%,
        #c60c30 33.33%, #c60c30 66.66%,
        #ffcc29 66.66%
    );
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 10;
}

.nav-list-publica {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 20px;
}

.nav-list-publica a {
    color: black;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.nav-list-publica a:hover{
    color: white;
}
/* FIM NAV PUBLICA */

/* INICIO NAV ADMINISTRACAO */
.conteirner-nav-administracao {
    background: linear-gradient(45deg, 
        #009739 33.33%,
        #c60c30 33.33%, #c60c30 66.66%,
        #ffcc29 66.66%
    );
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 10;
}

.nav-list-administracao {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-list-administracao a {
    color: black;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.nav-list-administracao a:hover{
    color: white;
}

.img-nav-logo {
    margin-left: 28px;
    margin-bottom: 50px;
    padding: 0;
    width: 160px;
    height: auto;
}

.custom-btn-perfil {
    width: 60px;
    background-color: #00c8ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn-perfil:hover {
    background-color: #006aff;
    transform: scale(1.05);
}

.custom-btn-sair{
    width: 60px;
    background-color: #00c8ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 28px;
    margin-left: 28px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn-sair:hover {
    background-color: #006aff;
    transform: scale(1.05);
}
/* FIM NAV ADMINISTRACAO */


/* INICIO CONTEUDO */

/* LOGIN ADMNISTRATIVA */
#loginAdmin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.conteiner-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    gap: 20px;
}

.div-login-inputs {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-login-logo {
    padding: 0;
    width: 300px;
    height: auto;
}

.div-login-btn {
    display: flex;
    gap: 15px;
}

.custom-btn-cadastrar {
    width: 94px;
    background-color: #00c8ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn-cadastrar:hover {
    background-color: #006aff;
    transform: scale(1.05);
}

.custom-btn-recuperar {
    width: 98px;
    background-color: #00c8ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn-recuperar:hover {
    background-color: #006aff;
    transform: scale(1.05);
}

.custom-btn-entrar {
    width: 70px;
    background-color: #00c8ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn-entrar:hover {
    background-color: #006aff;
    transform: scale(1.05);
}
/* LOGIN ADMNISTRATIVA */

/* MODAL CRIAR CONTA */
.modal-criar-conta {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-criar-conta-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-criar-conta {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-criar-conta:hover {
    color: #000;
}

.conteiner-criar-conta-inputs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
}

.div-criar-conta-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-criar-conta-inputs2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;btn-cadastrar
}

.div-criar-conta-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
    margin-top: 20px;
}
/* MODAL CRIAR CONTA */

/* MODAL RECUPERAR CONTA */
.modal-recuperar-conta {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-recuperar-conta-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-recuperar-conta {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-recuperar-conta:hover {
    color: #000;
}

.conteiner-recuperar-conta-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
}

.btn-recuperar-senha-salvar {
    border: none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: bold;
    width: 95px;
    height: 30px;
    color: white;
    background-color: #00c8ff;
    cursor: pointer;
    text-align: center; 
    line-height: 30px; 
}


.btn-recuperar-senha-salvar:hover {
    background-color: #006aff;
}
/* MODAL RECUPERAR CONTA */

/* MODAL RECUPERAR SENHA PAGINA */
#recuperarSenhaForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.conteiner-recuperar-conta-pagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

/* MODAL RECUPERAR SENHA PAGINA */

/* MODAL EDITAR CONTA */
.modal-editar-conta {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-editar-conta-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-editar-conta {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-editar-conta:hover {
    color: #000;
}

.custom-btn-salvar-conta {
    width: 70px;
    height: 30px;
    background-color: #00c8ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
}

.custom-btn-salvar-conta:hover {
    background-color: #006aff;
    transform: scale(1.05);
}

.conteiner-inputs-editar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.div-inputs-editar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.custom-input-editar {
    width: 250px;
    font-size: 14px;
    border: 1px solid #aaa;
}

.ant-input-editar::placeholder {
    color: #4b4b4b !important;
}

/* MODAL SENHA CONTA */
.modal-senha-conta {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-senha-conta-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-senha-conta {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-senha-conta:hover {
    color: #000;
}

.modal-senha-conta h2 {
    margin-bottom: 20px;
}

.div-senha-conta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.custom-input {
    width: 200px;
    font-size: 14px;
    border: 1px solid #aaa;
}

.ant-input::placeholder {
    color: #4b4b4b !important;
}

/* MODAL SENHA CONTA */
/* MODAL EDITAR CONTA */

/* PAGINA INICIAL ADMINISTRATIVA */
.conteiner-info-atencao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
}

.img-administracao-info {
    margin-left: 28px;
    margin-bottom: 50px;
    padding: 0;
    width: 360px;
    height: auto;
    margin-top: 10px;
}

.div-info-atencao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.custon-icon-atencao {
    margin-right: 10px;
}
/* PAGINA INICIAL ADMINISTRATIVA */


/* CADASTRAR EVENTOS */
.cadastrar-evento-h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.conteiner-cadastrar-eventos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.div-cadastrar-eventos-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-cadastrar-eventos-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-cadastrar-eventos-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 5px;
    gap: 20px;
}

.div-cadastrar-eventos-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#descricao-evento {
    resize: none;
}

.custom-input-text-area {
    width: 250px;
    height: 100px !important;
    font-size: 14px;
    border: 1px solid #aaa;
}

.custom-input-data {
    width: 160px;
    font-size: 14px;
    border: 1px solid #aaa;
}

.custom-input-hora {
    width: 100px;
    font-size: 14px;
    border: 1px solid #aaa;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.custom-input-upload {
    width: 320px;
    display: flex;
    border: 1px solid #aaa;
    justify-content: center;
    align-items: center;
}
/* CADASTRAR EVENTOS */

/* REGISTROS EVENTOS */
.div-calendario-h2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-calendario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    gap: 20px;
}

.conteiner-calendario button {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.conteiner-calendario button:hover {
    background-color: #0056b3;
    transform: scale(1.2);
}

.conteiner-calendario button:active {
    background-color: #004494;
    transform: scale(1.05);
}

.conteiner-eventos ul {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
    flex-wrap: wrap;
}

.conteiner-eventos li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex: 1 1 calc(16.66% - 30px);
    max-width: calc(16.66% - 30px);
    box-sizing: border-box;
    text-align: center;
}

.conteiner-eventos img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.conteiner-eventos img:hover {
    transform: scale(1.2);
    margin-bottom: 20px;
}

.span-nomeEvento {
    margin-top: 5px;
    font-size: 18px !important;
    font-weight: bold;
}

.span-descricaoEvento {
    margin-top: 5px !important;
    font-size: 14px !important;
    font-weight: italic !important;
}

.data-evento {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    gap: 5px;
    color: #006aff;
}

.hora-evento {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #006aff;
}

.icon-lixo-eventos {
    color: #fd3434;
    font-size: 20px;
    height: auto;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    background: none;
    outline: none;
    transition: transform 0.1s ease-in-out;
}

.icon-lixo-eventos:hover {
    transform: scale(1.3);
}

/* IMAGEM NO MODAL EVENTO */
.imagem-evento-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.imagem-evento-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.imagem-evento-modal-content img {
    width: 400px;
    height: auto;
}

.close-imagem-evento-modal {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-imagem-evento-modal:hover {
    color: #bbb;
}
/* IMAGEM NO MODAL EVENTO */
/* REGISTRO EVENTOS */

/* CADASTRAR PATROCINADORES */
.conteiner-cadastrar-patrocinadores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.div-cadastrar-patrocinadores-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.custom-input-redirecionamento {
    width: 310px;
    font-size: 14px;
    border: 1px solid #aaa;
}

.custom-input-upload-patrocinadores {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
}
/* CADASTRAR PATROCINADORES */

/* REGISTROS PATROCINADORES */
.conteiner-patrocinadores ul {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
    flex-wrap: wrap;
}

.conteiner-patrocinadores li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex: 1 1 calc(16.66% - 50px);
    max-width: calc(16.66% - 50px);
    box-sizing: border-box;
}

.conteiner-patrocinadores img {
    transition: transform 0.3s ease-in-out;
}

.conteiner-patrocinadores img:hover {
    transform: scale(1.2);
}

.icon-lixo {
    color: #fd3434;
    font-size: 20px;
    height: auto;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    background: none;
    outline: none;
    transition: transform 0.1s ease-in-out;
}

.icon-lixo:hover {
    transform: scale(1.3); 
}

/* REGISTRO PATROCINADORES */

/* CADASTRAR ACADEMIAS */
.cadastrar-academia-h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.conteiner-cadastrar-academias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-cadastrar-academias-nomes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-cadastrar-academias-endereco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-cadastrar-academias-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-top: 20px;
}

.div-cadastrar-academias-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.custom-btn-cadastrar-academia {
    width: 94px;
    height: 30px;
    background-color: #00c8ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn-cadastrar-academia:hover {
    background-color: #006aff;
    transform: scale(1.05);
}

.custom-input-telefone {
    width: 150px;
    font-size: 14px;
    border: 1px solid #aaa;
}

.custom-input-upload-academias {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
}
/* CADASTRAR ACADEMIAS */

/* REGISTROS ACADEMIAS */
.conteiner-pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.conteiner-pesquisar select {
    width: 210px;
    border: 1px solid #aaa;
    justify-content: center;
    align-items: center;
}

.custom-btn-pesquisar {
    width: 94px;
    background-color: #00c8ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn-pesquisar:hover {
    background-color: #006aff;
    transform: scale(1.05);
}

.conteiner-academias ul {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    gap: 60px;
    flex-wrap: wrap;
}

.conteiner-academias li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    flex: 1 1 calc(25% - 60px);
    max-width: calc(25% - 60px);
    box-sizing: border-box;
    min-width: 320px;
}

.conteiner-academias img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.conteiner-academias img:hover {
    transform: scale(1.2);
    margin-bottom: 20px;
}

.div-info-academias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.span-nomeAcademia {
    margin-top: 5px;
    font-size: 18px !important;
    font-weight: bold;
}

.div-tecnico {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.academia-responsavel-tecnico {
    font-weight: bold;
}

.div-endereco {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.academia-contato {
    color: #006aff;
}

/* IMAGEM NO MODAL ACADEMIA */
.imagem-academia-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.imagem-academia-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.imagem-academia-modal-content img {
    width: 400px;
    height: auto;
}

.close-imagem-academia-modal {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-imagem-academia-modal:hover {
    color: #bbb;
}
/* IMAGEM NO MODAL ACADEMIA */
/* REGISTRO ACADEMIAS */

/* CADASTRAR PROFESSORES */
.conteiner-pesquisar-professores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.conteiner-pesquisar-professores select {
    width: 210px;
    border: 1px solid #aaa;
    justify-content: center;
    align-items: center;
}

.custom-btn-pesquisar-professores {
    width: 94px;
    background-color: #00c8ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn-pesquisar-professores:hover {
    background-color: #006aff;
    transform: scale(1.05);
}

.conteiner-cadastrar-professores {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-cadastrar-professores-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-cadastrar-professores-cidade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-cadastrar-professores-equipe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 80px;
}

.div-cadastrar-professores-data {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.custom-input-data {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-cadastrar-professores-upload {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-right: 85px;
}
/* CADASTRAR PROFESSORES */

/* REGISTROS PROFESSORES */
.conteiner-professores {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-professores th {
    font-size: 16px;
    background-color: #181818;
    text-align: left;
    color: white;
    height: 80px;
    padding: 10px;
}

.conteiner-professores td {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    overflow-wrap: break-word;
    max-width: 50px;
    padding: 10px;
}

/* Ajustando colunas específicas */
th:nth-child(1), td:nth-child(1) { /* Foto */
    width: 100px;
    text-align: center;
}

th:nth-child(2), td:nth-child(2) { /* Registro */
    width: 120px;
    text-align: center;
}

th:nth-child(3), td:nth-child(3) { /* Nome */
    width: 200px;
}

th:nth-child(4), td:nth-child(4) { /* Cidade */
    width: 170px;
}

th:nth-child(5), td:nth-child(5) { /* Graduação */
    width: 120px;
    text-align: center;
}

th:nth-child(6), td:nth-child(6) { /* Equipe */
    width: 200px;
}

th:nth-child(7), td:nth-child(7) { /* Data de Nascimento */
    width: 50px;
    text-align: center;
}

.conteiner-professores img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.conteiner-professores img:hover {
    transform: scale(1.2);
}

.Amarela {
    background-color: #f6ff00;
}

.Laranja {
    background-color: #ff5e00;
}

.Verde {
    background-color: #00a606;
}

.Azul {
    background-color: #0055ff;
}

.Marrom {
    background-color: #4d2e26;
}

.Preta {
    background-color: #000000;
}

.Amarela, .Laranja, .Verde, .Azul, .Marrom, .Preta {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

.icon-lixo-professores {
    color: #fd3434;
    font-size: 20px;
    height: auto;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    transition: transform 0.1s ease-in-out;
}

.icon-lixo-professores:hover {
    transform: scale(1.3);
}

/* IMAGEM NO MODAL PROFESSOR */
.imagem-professor-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.imagem-professor-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    box-sizing: border-box;
}

.modal-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.imagem-container {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
}

.imagem-professor-modal-content img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.professor-details {
    flex: 1;
    margin-top: 20px;
}

.professor-details p {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.professor-details strong {
    margin-right: 10px;
}

.div-modal-img-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-imagem-professor-modal {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-imagem-professor-modal:hover {
    color: #bbb;
}

/* IMAGEM NO MODAL PROFESSOR */
/* REGISTRO PROFESSORES */

/* CADASTRAR ALUNOS */
.conteiner-pesquisar-alunos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.conteiner-pesquisar-alunos select {
    width: 210px;
    border: 1px solid #aaa;
    justify-content: center;
    align-items: center;
}

.custom-btn-pesquisar-alunos {
    width: 94px;
    background-color: #00c8ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn-pesquisar-alunos:hover {
    background-color: #006aff;
    transform: scale(1.05);
}

.cadastrar-aluno-h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.conteiner-cadastrar-alunos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-cadastrar-alunos-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-cadastrar-alunos-cidade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-cadastrar-alunos-academia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-cadastrar-alunos-nascimento {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
/* CADASTRAR ALUNOS */

/* REGISTROS ALUNO */
.conteiner-alunos {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-alunos th {
    font-size: 16px;
    background-color: #181818;
    text-align: left;
    color: white;
    height: 80px;
    padding: 10px;
}

.conteiner-alunos td {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    overflow-wrap: break-word;
    max-width: 150px;
    padding: 10px;
}

/* Ajustando colunas específicas */
th:nth-child(1), td:nth-child(1) { /* Foto */
    width: 100px;
    text-align: center;
}

th:nth-child(2), td:nth-child(2) { /* Registro */
    width: 120px;
    text-align: center;
}

th:nth-child(3), td:nth-child(3) { /* Nome */
    width: 200px;
}

th:nth-child(4), td:nth-child(4) { /* Cidade */
    width: 170px;
}

th:nth-child(5), td:nth-child(5) { /* Graduação */
    width: 120px;
    text-align: center;
}

th:nth-child(6), td:nth-child(6) { /* Academia */
    width: 200px;
}

th:nth-child(7), td:nth-child(7) { /* Responsável */
    width: 200px;
}

th:nth-child(8), td:nth-child(8) { /* Data de Nascimento */
    width: 150px;
    text-align: center;
}

.conteiner-alunos img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.conteiner-alunos img:hover {
    transform: scale(1.2);
}

.Amarela {
    background-color: #f6ff00;
}

.Laranja {
    background-color: #ff5e00;
}

.Verde {
    background-color: #00a606;
}

.Azul {
    background-color: #0055ff;
}

.Marrom {
    background-color: #4d2e26;
}

.Preta {
    background-color: #000000;
}

.Amarela, .Laranja, .Verde, .Azul, .Marrom, .Preta {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

.icon-lixo-alunos {
    color: #fd3434;
    font-size: 20px;
    height: auto;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    transition: transform 0.1s ease-in-out;
}

.icon-lixo-alunos:hover {
    transform: scale(1.3);
}

/* IMAGEM NO MODAL ALUNO */
.imagem-aluno-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.imagem-aluno-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    box-sizing: border-box;
}

.modal-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.imagem-container {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
}

.imagem-aluno-modal-content img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.aluno-details {
    flex: 1;
    margin-top: 20px;
}

.aluno-details p {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.aluno-details strong {
    margin-right: 10px;
}

.div-modal-img-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-imagem-aluno-modal {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-imagem-aluno-modal:hover {
    color: #bbb;
}
/* IMAGEM NO MODAL ALUNO */
/* REGISTRO ALUNOS */

/* INICIO FOOTER */
footer {
    width: 100%;
    background-color: #181818; /* Cor do fundo do footer */
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    gap: 20px;
    margin-top: 40px;
    border-top: 4px solid;
    border-image: linear-gradient(45deg,
        #009739 33.33%,
        #c60c30 33.33%,
        #c60c30 66.66%,
        #ffcc29 66.66%
    ) 1;
}


footer a {
    text-decoration: none;
    color: #FFFFFF;
}

footer p {
    margin-left: 12px;
}

.div-footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 400px;
}

.img-footer-logo {
    padding: 0;
    width: 130px;
    height: auto;
}

.img-footer-logo-mycoding {
    padding: 0;
    width: 100px;
    height: auto;
}
/* FIM FOOTER */


/* INICIO RESPONSIVIDADE */

/* INICIO RESPONSIVIDADE */