* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.div-top {
    background-color: 181818;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titulo-h1 {
    font-size: 20px;
    font-width: bold;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 210px;
    margin-right: 28px;
    color: #787878;
}

/* INICIO NAV ADMINISTRACAO */
.conteirner-nav-administracao {
    background: linear-gradient(45deg, 
        #009739 33.33%,
        #c60c30 33.33%, #c60c30 66.66%,
        #ffcc29 66.66%
    );
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 10;
}

.nav-list-administracao {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-list-administracao a {
    color: black;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.nav-list-administracao a:hover{
    color: white;
}

.img-nav-logo {
    margin-left: 28px;
    margin-bottom: 50px;
    padding: 0;
    width: 160px;
    height: auto;
}

.btn-nav-perfil {
    border: none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: bold;
    width: 70px;
    height: 30px;
    color: white;
    background-color: #00c8ff;
    cursor: pointer;
}

.btn-nav-sair {
    border: none;
    margin-right: 28px;
    margin-left: 28px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: bold;
    width: 70px;
    height: 30px;
    color: white;
    background-color: #00c8ff;
    cursor: pointer;
}

.btn-nav-sair:hover,
.btn-nav-perfil:hover {
    background-color: #006aff;
}
/* FIM NAV ADMINISTRACAO */


/* INICIO CONTEUDO */

/* MODAL CRIAR CONTA */
.modal-criar-conta {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-criar-conta-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-criar-conta {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-criar-conta:hover {
    color: #000;
}
/* MODAL CRIAR CONTA */

/* MODAL RECUPERAR CONTA */
.modal-recuperar-conta {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-recuperar-conta-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-recuperar-conta {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-recuperar-conta:hover {
    color: #000;
}
/* MODAL RECUPERAR CONTA */

/* MODAL EDITAR CONTA */
.modal-editar-conta {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-editar-conta-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-editar-conta {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-editar-conta:hover {
    color: #000;
}
/* MODAL CRIAR CONTA */


/* INICIO FOOTER */
footer {
    width: 100%;
    background-color: #181818;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    gap: 50px;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

footer p {
    margin-left: 12px;
}

.div-footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 400px;
}

.img-footer-logo {
    padding: 0;
    width: 130px;
    height: auto;
}

.img-footer-logo-mycoding {
    padding: 0;
    width: 100px;
    height: auto;
}
/* FIM FOOTER */


/* INICIO RESPONSIVIDADE */

/* INICIO RESPONSIVIDADE */