<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="icon" href="/images/favicon.png"/>

    <!--  VERIFICAÇÃO DE PROPRIEDADE DO SITE NO GOOGLE SEARCH CONSOLE -->

    <!-- DEFINE UMA BREVE DESCRIÇÃO DO SITE QUE APARECE NOS RESULTADOS DE BUSCA -->
    <meta name="description" content="As artes marciais conectam você com sua melhor versão de uma maneira única!"/>

    <!-- Open Graph Meta Tags 
    INTEGRAR O SITE ÁS REDES SOCIAIS
    <meta property="og:title" content="Kickboxing"/>
    <meta property="og:description" content="As artes marciais conectam você com sua melhor versão de uma maneira única!"/>
    <meta property="og:image" content="https://swkrkt.conteige.cloud/resources/static/images/logo.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://swkrkt.conteige.cloud/"/> -->

    <!-- DADOS ESTRUTURAIS NO FORMATO JSON-LD PARA DESCREVER O CONTEUDO DA PAGINA AOS MECANISMO DE BUSCA
    Ajuda a melhorar o SEO, fornecendo informações adicionais para o Google
    exibir rich snippets nos resultados de pesquisa.
    https://schema.org/docs/full.html
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "name": "Kickboxing",
            "description": "As artes marciais conectam você com sua melhor versão de uma maneira única!",
            "url": "https://swkrkt.conteige.cloud/",
            "image": "https://swkrkt.conteige.cloud/resources/static/images/logo.png",
            "publisher": {
                "@type": "Organization",
                "name": "Kickboxing",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://swkrkt.conteige.cloud/resources/static/images/logo.png"
                }
            }
        }
    </script> -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome para o ícone de menu -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Ant Design Componentes UI -->
    <link href="https://cdn.jsdelivr.net/npm/antd@4.18.6/dist/antd.min.css" rel="stylesheet">

    <!-- Sweet Alert Componentes UI -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- CSS do projeto -->
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Kickboxing</title>
</head>

<body>
    <div id="teste">
        <form action="/admin" method="post">
            <h2>TESTANDO KICKBOXING</h2>

            <button class="btn-teste" type="submit">TESTANDO</button>
        </form>
    </div>

    <!--INICIO NAV-->
    <nav>

    </nav>
    <!--FIM NAV-->


    <!--INICIO CONTEUDO-->
    <section>

    </section>
    <!--FIM CONTEUDO-->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!--INICIO RODAPÉ -->
    <footer>
        <div class="div-footer-logo">
            <img src="/static/images/logo.png" alt="Logo da F.G.K.B" class="img-footer-logo">

            <a href="https://mycodinghub.tech/" target="_blank">
                <img src="/static/images/logo-mycoding.png" alt="Logo da My Coding" class="img-footer-logo-mycoding">
            </a>
        </div>

        <div>
            <p>Todos os direitos reservados!</p>
        </div>
    </footer>
    <!--FIM RODAPÉ -->

    <!-- Renderiza mensagem de sucesso -->
    <div th:if="${successMessage}">
        <script th:inline="javascript">
            Swal.fire({
                icon: 'success',
                text: [[${successMessage}]],
                confirmButtonText: 'OK',
                confirmButtonColor: '#00ff00'
            });
        </script>
    </div>

    <!-- Renderiza mensagem de erro -->
    <div th:if="${errorMessage}">
        <script th:inline="javascript">
            Swal.fire({
                icon: 'error',
                text: [[${errorMessage}]],
                confirmButtonText: 'OK',
                confirmButtonColor: '#00ff00'
            });
        </script>
    </div>

    <script src="/static/js/javascript.js"></script>
</body>
</html>